html{
  width: 100%;
  height: 100%;
}

body{
  margin: 0;
  width: 100%;
  height: 100%;
}

#button ul{
  list-style-type: none;  
  padding: 0;
}

.info{
  display: flex;
  justify-content: center;
}

.info img{
  transform: scale(1.5);
  margin-right: 18px;
}

.info{
  color: white;
<<<<<<< HEAD
=======
  font-weight: bold;
>>>>>>> 67cfb037d0fe901549dba23973a72731d5e93f5b
}


.info li{
<<<<<<< HEAD
  margin-top: 7px;
=======
  margin-top: 26px;
>>>>>>> 67cfb037d0fe901549dba23973a72731d5e93f5b
}

#bottom-positioner{
  position: fixed;
  text-align: center;
  bottom: 10%;
  width: 100%;
}

<<<<<<< HEAD
.like, .posted{
  display: inline;
  margin:0 9px;
  line-height: 67px;
  color: #079E6E;
  font-size: 18pt;
}

.user{
  font-size: 18pt;
}

.comment{
  font-size: 37pt;
}

#button #info-bar{
  position: relative;
  margin:0 auto;
  height: 0px;
  width: 0px;
  opacity: 0;
=======
#button #info-bar{
  position: relative;
  margin:0 auto;
  height: 200px;
  width: 200px;
>>>>>>> 67cfb037d0fe901549dba23973a72731d5e93f5b
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgba(126,126,126,1);
  border-radius: 50%;
<<<<<<< HEAD
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
}

#button:hover #info-bar{
  height: 200px;
  width: 200px;
  opacity: 1;
=======
}

.like, .posted{
  display: inline;
  margin:0 9px;
  line-height: 87px;
  color: #079E6E;
  font-size: 20pt;
}


#button:hover #info-bar{
  height: 200px;
  width: 200px;
>>>>>>> 67cfb037d0fe901549dba23973a72731d5e93f5b
}

#button .apb{
  background-color: rgba(154,160,218,1);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url("../assets/images/atplus_white.png");
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  width: 32px;
  height: 32px;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-in-out;
}

#button:hover .apb{
  height: 100px;
  width: 100px;
  background-color: rgba(48, 63, 159, 1);
  background-image: url("../assets/images/atplus_green.png");
}
